.layout {
  background: #f5f7f9;
}

.content-left .fix-height {
  height: inherit;
}

.content-right {
  padding: 24px;
  min-height: 280px;
}

.con-header {
  background: #fff;
}

.con-main {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
}